body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.active div:first-child {
  background-color:#D6D8E2 !important;
}

.active svg, .active span {
  color: #0766da;
}